$header-height: 80px;
// $footer-height: 40px;
$footer-height: 0px;

$breakpoint-large: 1100px;
$breakpoint-medium: 900px;
$breakpoint-small: 600px;

$max-page-width: 1500px;

$site-background-color: #111;
