@import "../../assets/scss/variables.scss";

.Landing {
    &::after,
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
    }

    &::before {
        background-size: cover;
        background-position: center center;

        transition: 1.2s background-image linear;

        filter: brightness(.85);
    }

    &_background_1::before {
        background-image: url("../../assets/images/castle-bg.jpg");
    }

    &_background_2::before {
        background-image: url("../../assets/images/castle-bg-2.jpg");
    }

    &_background_3::before {
        background-image: url("../../assets/images/castle-bg-3.jpg");
    }

    &::after {
        background: rgba(0, 0, 0, 0.5);
    }

    height: calc(100vh);
    height: calc(var(--vh, 1vh) * 100);

    position: relative;

    margin-top: -#{$header-height};

    &-Scroll {
        position: absolute;
        left: 0;
        right: 0;
        transform: translate(0, 0);

        text-align: center;

        bottom: 0;
        padding-top: 10px;

        padding-bottom: 40px;

        cursor: pointer;

        animation: move-bottom 2s 2s ease infinite;

        color: #fff;

        z-index: 1;

        &::after {
            content: "\2193";
            display: block;
            line-height: 0.5;

            font-size: 28px;

            margin-top: 8px;

            text-align: center;
        }
    }

    @keyframes move-bottom {
        from {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(0, 20px);
        }

        to {
            transform: translate(0, 0);
        }
    }
}
