@import '../../assets/scss/variables.scss';

.App-Wrapper {
    max-width: $max-page-width;

    margin: 0 auto;

    box-sizing: border-box;

    padding: 0 16px;

    &_fullSize {
        min-height: calc(100vh - #{$footer-height} - #{$header-height});
        min-height: calc(var(--vh, 1vh) * 100 - #{$footer-height} - #{$header-height});
    }
}
