@import "../../assets/scss/variables.scss";

body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.App-Page {
    min-height: calc(100vh - #{$header-height} - #{$footer-height});

    background-color: #eee;
}
