@import "../../assets/scss/variables.scss";

.Eye {
  background-color: $site-background-color;
  position: absolute;
  height: 100%;
  width: 100%;

  &-Canvas {
    // Here is just a style for adding css class
    pointer-events: none;
  }
}
